body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
}

.full {
    position: relative;
    overflow: hidden;
}

.controller {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    color: #d7d7d7;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

body.grabbing *,
body.grabbing {
    cursor: grabbing !important;
}

body.grabbing.not_allowed *,
body.grabbing.not_allowed {
    cursor: not-allowed !important;
}

/*change the thinkness of the scrollbar here*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*add a shadow to the scrollbar here*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*this is the little scrolly dealio in the bar*/
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ffffff80;
    height: 3px;
}

/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
}

._help {
    color: #fff;
    background: dodgerblue;
    position: absolute;
    padding: 10px;
    border-radius: 6px;
    margin: 30px;
}

._help::after {
    content: '';
    height: 18px;
    width: 19px;
    position: absolute;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: dodgerblue;
}