.right_holder{
    position: relative;
    height: 100vh;
    justify-self: end;
    grid-row: span 3;
    width: 244px;
}
.right{
    width: inherit;
    height: 100%;
    background: #404040;
    overflow-y: scroll;
}

.right_row{
    padding:8px;
    justify-content: space-between;
    column-gap: 10px;
}
.style .right_row div{
    justify-content: space-between;
}

.right_col{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right_tab_holder{
    column-gap: 0;
    position: sticky;
    top:0;
    padding: 0;
    z-index: 1;
}















.right_tab{
    cursor: pointer;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #292929 solid 1px;
    border-right: #292929 solid 1px;
    width: 100%;
    background: #343434;


    position: relative;
}

.right_tab::after{
    content: '';
    position: absolute;
    color: dodgerblue;
    top:0px;
    left: 0px;
    right:0px;
    bottom:0px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #404040f2;
    cursor: default;
}


.right_tab.active_tab::after{
    display: none;
}














.right_tab img{
    height:45%;
    width: 45%;
}

.active_tab{
    border-bottom-color: #333;
    background: #404040;
}

.style .active_style{
    opacity: .3;
}
.style .active_border{
    background: #292929;
}

.style .active_style_property{
    color: rgb(139, 190, 250);
    background: rgba(76, 152, 241, 0.15);
    cursor: pointer;
}

.style .--light{
    padding: 2px;
    margin-right: 4px;
    font-size: 11.5px;
    white-space: nowrap;
}

.right_row,.right_row div{
    display: flex;
    align-items: center;
}

.reveal_tab{
    overflow: hidden;
}
.reveal_tab_btn{
    background: #292929;
    cursor: pointer;
    margin-bottom: 6px;
}
.reveal_tab_btn svg{
    transition: .2s transform;
    backface-visibility: hidden;
}
.reveal_tab--sub{
    padding: 0px 8px;
}
.reveal_tab--sub .right_row{
    padding: 5px 0px;
}
.reveal_tab--sub .reveal_tab_btn{
    background: #555;
    padding: 4px;
}


.style>.right_row:first-child{
    border-bottom: #333 solid 1px;
}















.selector_holder{
    background: #292929;
    width: 100%;
    justify-content: space-between;
    border-radius: 4px;
    padding: 4px;



    position: relative;
}


            .selector_holder::after{
                content: 'working on it';
                position: absolute;
                color: dodgerblue;
                top:0px;
                left: 0px;
                right:0px;
                bottom:0px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, .6);
            }


















.selector_holder,.selector_holder div{
    align-items: center;
    display: flex;
}
.selector_holder .selector_box{
    padding: 6px;
    background: dodgerblue;
    margin-left: 10px;
    border-radius: 2px;
}

:is(.display ,.overflow ,.float,.clear) div[data-style]{
    cursor: pointer;
    height: 24px;
    padding: 5px;
    border: #3a3a3a solid 1px;
    border-right: none;
    background: #555;
    transition: .2s background-color;
}
:is(.display ,.overflow ,.float,.clear) div[data-style]:last-child{
    border-right: #3a3a3a solid 1px;
}
:is(.display ,.overflow ,.float,.clear) div[data-style]:not(.active_style):hover{
    background: #4e4e4e;
}

.right_col>div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.style .style_input{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
}
.style input{
    width: 100%; 
    height: 24px;
    background: #292929;
    color: #fff;
    padding: 5px;
    border-radius: 2px 0px 0px 2px;
    border: 1px transparent solid;
}
.style input[type="range"]{
    width:auto;
    max-width: 90px;
    padding: 0;
    background: transparent;
}
.style input[type="range"]:focus{
    border: none;
}
.style input[type="color"] {
    width: 35px;
    height: 24px;
    padding: 0;
}
.style input:focus{
    border: 1px dodgerblue solid;
    outline: none;
}
.style .suffix{
    background: #4e4e4e;
    border-radius: 0px 2px 2px 0px;
    height: 24px;
    width:24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 3px;
    /* margin-left: 1px; */
    cursor: pointer;
}
.style .suffix:hover{
    background: #5a5a5a;
}

.style select{
    background: #666;
    color: #fff;
    border: #333 solid 1px;
    height: 24px;
    border-radius: 2px;
}
.style select:focus{
    border-color: dodgerblue;
    outline: none;
    background: #444;
}
.style select option{
    border:none;
}



















.style .margin{
    position: relative;
    display: inline-flex;
}

.style .margin::after{
    content: 'working on it';
    position: absolute;
    color: dodgerblue;
    top:0px;
    left: 0px;
    right:0px;
    bottom:0px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
}































.style .border{
    margin-top: 5px;
}
.style .border>div{
    cursor: pointer;
    height: 24px;
    padding: 5px;
    transition: .2s background-color;
    border-radius: 2px;
}
.style .border>div:hover{
    background: #4e4e4e;
}