.btn{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @extend .cursor-pointer;

    &:hover{
        background: lighten($color-dark-3,5%);
    }

    svg,img{
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 5;
    }

    &--rounded{
        border-radius: 5px;
    }

    &--pill{
        border-radius: 100px;
    }

    *{
        pointer-events: none;
    }

    &.js-lbarActive{
        background: $color-dark-4;
        position: relative;
    }
    &.js-lbarActive::after{
        content: '';
        width: 1px;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 100%;
        background: $color-dark-4;
    }
    &.js-activePopBox{
        background: $color-blue-2;
    }
}

