.btn{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:1px solid $color-dark-2;
    background: $color-dark-3;
    @extend .cursor-pointer;

    &:hover{
        background: lighten($color-dark-3,5%);
    }

    svg,img{
        width: 20px;
        height: 20px;
    }
}

