.d{
    &-flex {
        display: flex;
    }
    
    &-block {
        display: block;
    }
    
    &-none {
        display: none;
    }
}




.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}