@import './header';
@import './main';
@import './elements';
@import './nav';
@import './image';
@import './site_nav';

// .container{
    
// }

.row{
    display: flex;
    align-items: stretch;
    max-height: 100%;
}

.col{
    flex-grow: 1;
}

