main {
    height: calc(100vh - 41px);
    background: $color-dark-6;

    .left-sidebar {
        width: 41px;
        min-width: 41px;
        background: $color-dark-3;
        border-right: 1px solid $color-dark-2;
        position: relative;

        .popup {
            min-width: 300px;
            max-width: 420px;
            width: 300px;
            position: absolute;
            background: $color-dark-4;
            top: 0;
            bottom: 30px;
            left: calc(100% + 1px);
            z-index: 1000;
            overflow: auto;
            overflow-x: visible;
            border-right: 5px solid $color-dark-3;

            .pops {
                padding: 10px;
            }
        }
    }

    .right-sidebar {
        @extend .left-sidebar;
        border-left: 1px solid $color-dark-2;
        width: 250px;
    }


    .middle {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        // overflow:hidden;
        background: $color-dark-6;

        // background: rgb(0, 0, 0);

        .i-holder {
            flex-grow: 1;
            height: calc(100vh - 42px - 29px);
            justify-content: center;

            .i {
                // width: 1110px;
                overflow: hidden;

                iframe {
                    width: 100%;
                    height: 100%;
                    transform-origin: top left;
                    background: #fff;
                }
            }
        }
    }

    .bottom-sidebar {
        border-top: 1px solid $color-dark-2;
        border-bottom: 1px solid $color-dark-2;
        background: $color-dark-4;
        color: #fff;
        overflow-x: auto;
        overflow-y: hidden;
        // transform: rotate(-90deg);
        // transform-origin: right top;
        width: calc(100vw - 42px - 250px);

        /*change the thinkness of the scrollbar here*/
        &::-webkit-scrollbar {
            width: 5px;
            height: 1px;
            box-shadow: inset 0 0 6px rgba(54, 54, 54, 0);
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        /*add a shadow to the scrollbar here*/
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 0px rgba(179, 179, 179, 0);
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        /*this is the little scrolly dealio in the bar*/
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            // background: $color-dark-2;
            background: #fff;
            height: 3px;
        }

        /*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
        &::-webkit-scrollbar-corner {
            display: none;
            height: 0px;
            width: 0px;
        }


        .nodes {
            align-items: center;
            font-size: 12px;
            column-gap: 2px;
            min-width: max-content;

            img {
                height: 1em;
            }

            // flex-direction: column;
            // transform: rotate(90deg);
            // transform-origin: right top;
        }

        .node {
            padding: 5px 0;
            @extend .cursor-pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 4px;

            &:hover {
                background: $color-dark-5;
            }

            &:first-child {
                padding-left: 5px;
            }

            &:last-child {
                padding-right: 5px;
            }
        }
    }

    .btn {
        border-bottom: 1px solid $color-dark-2;
        background: $color-dark-3;
        position: relative;
    }
}