.styles{
    .style_row{
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: .5px $border solid;
        padding: 10px ;

        &-2{
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    .style_heading{
        display: flex;
        justify-content: space-between;
        &_text{
            color: #ddd;
        }
        &_icon{
            width: 10px;
        }
    }

    .selector{
        border: .5px $border solid;
        background: #111;
        padding:5px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        color: #ddd;
        gap: 7px;
        &_devices{
            padding: 5px;
            background: #2e2e2e;
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            &_icon{
                width: 100%;
            }
        }

        &s{
            flex:1;
            display: flex;
            gap: 5px;
            color: #fff;

            div{
                background: rgb(5, 115, 226);
                padding: 5px;
                border-radius: 3px;
            }

            .tag{
                background-color: rgb(7, 159, 7);
            }
        }

        &_more{
            width: 10px;
            margin-right: 3px;
            svg{
                width: 100%;
            }
        }
    }

    .display{
        display: flex;
        flex: 1;
        gap:5px;
        background-color: $border;
        color: #ddd;
        padding: 2px;
        border-radius: 3px;
        div{
            padding: 5px;
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;

            &:hover{
                background: $dark;
            }
            
        }
        svg{
            width: 100%;
        }
    }

    .boxmodel{
        svg{
            width: 100%;
            
            #ml,#mr,#mt,#mb, #pl, #pr, #pt, #pb{
                fill: #343434;
                &:hover{
                    fill:#555;
                }
            }

            #ml,#mr,#pt,#pb{
                fill: $border;
            }

            #mid{
                fill: $dark;
            }

            #mid_border{
                stroke:$dark;
                stroke-width: 3px;
            }

        }



    }
}