@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$size: 42px;
$dark: #1E1E1E;
$dark2: #181818;
$dark3:#1f1f1f;
$fadeColor: #c4c4c4;
$border:#3f3f3f;
$borderWidth: 0.5px;

body {
    font-family: 'Source Code Pro', monospace, 'Courier New', Courier;
    font-size: 14px;
}
@import './right';
@import './style';

.app {
    display: flex;
    width: 100%;
    height: 100vh;
    color: #fff;
}


.left_bar {
    width: $size;
    background: $dark;
    border-right: $borderWidth $border solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $fadeColor;
}

.left_col {
    min-width: 250px;
    background: $dark;

}

.mid_col {
    flex-grow: 1;
    background: #353535;
}

.right_col {
    width: 300px;
    background: $dark;

}


/* left side */

.left_option {
    border-bottom: $border solid $borderWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size;
    cursor: pointer;

    &:hover {
        // background: #000;
        color: #fff;
    }
}

.left_options:not(.left_options:nth-child(1))>.left_option:nth-child(1) {
    border-top: $border solid $borderWidth;
}

.left_col {
    &_top {
        border-bottom: $border solid $borderWidth;
        height: $size;
    }

    &_bottom {
        border-right: $borderWidth $border solid;
        flex: 1;
    }

    display: flex;
    flex-direction: column;
}

.mid_col {
    &_top {
        border-bottom: $border solid $borderWidth;
        height: $size;
        background: $dark;
    }


}




