//colors

$color-dark-1:#060606;
$color-dark-2:#1D1E22;
$color-dark-3:#34363E;
$color-dark-4:#444857;
$color-dark-5:#5A5F73;
$color-dark-6:#666B7A;

$color-7:#FF3C41;
$color-8:#0EBEFF;
$color-9:dodgerblue;
$color-10:#FCD000;
$color-11:#000;

/*
.colors {
    h2{
        color:#000
    }
    padding: 20px;

    .color {
        padding: 16px;
        max-width: 240px;

        &:nth-child(1) {
            background-color: $color-dark-1;
        }

        &:nth-child(2) {
            background-color: $color-dark-2;
        }

        &:nth-child(3) {
            background-color: $color-dark-3;
        }

        &:nth-child(4) {
            background-color: $color-dark-4;
        }

        &:nth-child(5) {
            background-color: $color-dark-5;
        }

        &:nth-child(6) {
            background-color: $color-dark-6;
        }

        &:nth-child(7) {
            background-color: $color-7;
        }

        &:nth-child(8) {
            background-color: $color-8;
        }

        &:nth-child(9) {
            background-color: $color-9;
        }

        &:nth-child(10) {
            background-color: $color-10;
        }
    }
}

*/