main {
    height: calc(100vh - 41px);
    background: $color-dark-6;

    .left-sidebar {
        width: 42px;
        min-width: 42px;
        background: $color-dark-3;
        border-right: 1px solid $color-dark-2;
        border-left: 1px solid $color-dark-2;
        position: relative;

        .popup {
            min-width: 300px;
            max-width: 420px;
            width: 300px;
            position: absolute;
            background: $color-dark-4;
            top: 0;
            bottom: 41px;
            left: calc(100% + 1px);
            z-index: 1000;
            overflow: auto;
            overflow-x: visible;
            border-right: 5px solid $color-dark-6;

            .pops {
                padding: 10px;
            }
        }
    }

    .right-sidebar {
        @extend .left-sidebar;

        .popup {
            right: calc(100% + 1px);
            left: auto;
        }
    }


    .middle {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        background: rgb(0, 0, 0);

        .i-holder {
            flex-grow: 1;
            height: calc(100vh - (41px * 2) - 1px);

            iframe {
                width: 100%;
            }
        }
    }

    .bottom-sidebar {
        border-top: 1px solid $color-dark-2;
        background: $color-dark-3;
    }

    .btn {
        border-bottom: 1px solid $color-dark-2;
        background: $color-dark-3;
        position: relative;
    }
}