.navigator{
    @extend .bg-dark-3;
    max-width: 420px;
    min-width: 200px;
    width: 240px;
    border-bottom: 2px solid $color-dark-5;
    padding: 10px;
    &_heading{
        @extend .bg-dark-2;
    }
}