body{
    font-family: 'Open Sans', sans-serif;
}

.full{
    position: relative;
}

.controller{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    top: 0;
    color: #D7D7D7;

}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    cursor: pointer;
}

