.code_holder .opts{
    display: flex;
    margin-bottom: 10px;
}

.code_holder .opt{
    padding: 10px 20px;
    background: #ddd;
    cursor: pointer;
    border-radius: 4px;
    margin:0 5px;
}

.code_holder .opt:first-child{
    margin:0px;
}

.code_holder .opt:last-child{
    margin:0px;
}