.left_holder {
    position: relative;
    height: 100vh;
    display: flex;
}

.left {
    display: flex;
    justify-self: start;
    height: 100%;
    background: #404040;
    position: relative;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.left_menu {
    border-right: #333 1px solid;
}







.left_menu_row {
    padding: 10px;
    border-top: #333333 solid .5px;

    opacity: .2;
    cursor: default;
}





.left_menu_row:first-child {
    opacity: 1;
    background-color: #777;
    cursor: pointer;
}







.left_menu_row:last-child {
    border-bottom: #333333 solid .5px;
}

.right_menu {
    position: absolute;
    display: block;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-right: #666666 4px solid;
    overflow-y: scroll;
    background: #404040;
    height: 100%;
    left: 100%;
    z-index: 99999;
}

/* element */
.right_menu .add_element {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.elements {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px 0;
}

.elements .element {
    border-top: #333333 solid .5px;
    border-left: #333333 solid .5px;
    border-bottom: #333333 solid .5px;

}

.element {
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    background: #404040;
    justify-content: space-between;
    row-gap: 5px;
}

.elements .element:last-child {
    border-right: #333333 solid .5px;
}

.element img {
    padding: 10px;
    pointer-events: none;
    width:85%;
}


/* navigator */

.navigator {
    background: #404040;
    border-right: #333 1px solid;
    width: 200px;
}

.navigator>div {
    padding: 8px;
}

.navigator_heading {
    background: #222;
}

.navigator>.navigator_body {
    background: #333;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigator>.navigator_elements {
    display: block;
    overflow: scroll;
    height: 100%;
    padding-right: 0;
}

.navigation_tab {
    cursor: default;
    padding-left: 8px;
    border-left: #777 solid 1px;
    overflow: hidden;
}

.nav_ele {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
    z-index: 1;
}

.nav_ele::after {
    content: '';
    position: absolute;
    background: #4c4c4c; 
    left:-8px;
    right: 0;
    bottom: 0;
    top:0;
    border-bottom: 1px #404040 solid;
    z-index: -1;
}

.nav_ele::after:hover {
    background: #555555;
}

.nav_ele>svg {
    cursor: pointer;
}

.hide_arrow .nav_ele>svg {
    visibility: hidden;
    /* display: none; */
    /* pointer-events: none; */
}

.navigator .hide_child_nav .navigation_tab {
    display: none;
}

.navigator .hide_child_nav svg {
    transform: rotateZ(-90deg);
}

/* mode */
.fade {
    opacity: .5;
    pointer-events: none;
}