.right_holder{
    position: relative;
    height: 100vh;
    justify-self: end;
    grid-row: span 3;
    width: 244px;
}
.right{
    width: inherit;
    height: 100%;
    background: #404040;
    overflow-y: scroll;
}

.right_row{
    padding:8px;
    justify-content: space-between;
    column-gap: 10px;
}

.right_col{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right_tab_holder{
    column-gap: 0;
    position: sticky;
    top:0;
    padding: 0;
    z-index: 999999;
}

.right_tab{
    cursor: pointer;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #292929 solid 1px;
    border-right: #292929 solid 1px;
    width: 100%;
    background: #343434;
}

.active_tab{
    border-bottom-color: #333;
    background: #404040;
}

.active_style{
    opacity: .5;
}

.right_row,.right_row div{
    display: flex;
}

.reveal_tab{
    /* margin-top: 10px; */
}

.reveal_tab_btn{
    background: #292929;
    cursor: pointer;
}

.style>.right_row:first-child{
    border-bottom: #333 solid 1px;
}

.selector_holder{
    background: #292929;
    width: 100%;
    justify-content: space-between;
    border-radius: 4px;
    padding: 4px;
}
.selector_holder,.selector_holder div{
    align-items: center;
    display: flex;
}
.selector_holder .selector_box{
    padding: 6px;
    background: dodgerblue;
    margin-left: 10px;
    border-radius: 2px;
}

.display div{
    cursor: pointer;
}

.right_col div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.style .right_col input{
    width: 50px;
    height: 24px;
    background: #292929;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 2px;
}
.style .right_col input:focus{
    outline: 1px #111 solid;
}
