.top_holder{
    position: relative;
    align-self: start;
    justify-self: start;
    grid-column: span 2;
    width: 100%;
}















.top_holder::after{
    content: 'working on it';
    position: absolute;
    color: dodgerblue;
    top:0px;
    left: 0px;
    right:0px;
    bottom:0px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
}














.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #404040;
    border-bottom: #333333 solid 1px;
}

.top .top_col{
    display: flex;
    align-items: center;
}

.top_col .col{
    border-left: #333333 solid .5px;
}

.top_col .col:last-child{
    border-right: #333333 solid .5px;
}