.border{
    &-none{
        border: none !important;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
    }

    &-left{
        border-left: 1px solid $color-dark-2;
    }
}